*{
 padding: 0%;

}

header{
    background-color: #E5F9E5;
    text-align: center;
    color: #266408;
}

body{
    font-size: 33px;
}
#horário{
    color: #000;
}

.info{
 color: #53C9D0;
}

.info:hover{
    color: red;
}
.desenvolvimento{
    text-align: center;
}