*{
    margin: 0%;
 padding: 0%;

}

header{
    background-color: #E5F9E5;
    text-align: center;
    color: #266408;
}

body{
    font-size: 25px;
}
#horário{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.info{
 color: #53C9D0;
}

.info:hover{
    color: red;
}
.desenvolvimento{
    text-align: center;
    background-color: #E5F9E5;
}
.onibu{ 
    background-color: #E5F9E5;
    text-align: center;
}
#place{
    background-color: #E5F9E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.local{
    color: #53C9D0;
}
.local:hover{
    color: red;
}
.tabela{
    width: 50%;
}
.mapa{
    width: 50%;
}
section{
    padding: 20px;
}

.tit{
    padding: 20px;
    background-color: white;
}

@media screen and (min-width: 1024px) {
    .onibu{ 
        text-align: start;
    }
}